* {
    padding: 0;
    margin: 0;
    border: border-box;
}

body {
    background-color: #81B29A;
}

.tttname {
    font-size: 3rem;
    color: #3D405B;
    font-weight: bolder;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 8px;
    text-decoration: wavy;
}

.game {
    height: 550px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 35%;
    margin-top: 5px;
    margin-left: 485px;
    padding-top: 35px;
    gap: 20px;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    height: 30%;
    width: 150px;
    border: none;
    background-color: #F2CC8F;
    color: #E07A5F;
    font-size: 3rem;
    box-shadow: 0 0 1rem rgb(128, 124, 124);
}

.reset {
    height: 35px;
    width: 150px;
    background-color: #F4F1DE;
    color: #3D405B;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 675px;
}

.reset:hover {
    background-color: #d5d6e7;
}

.winnername {
    height: 45px;
    width: 200px;
    background-color: #3D405B;
    color: #e2b0a2;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    margin-left: 658px;
    margin-bottom: 25px;
    border-radius: 3rem;
}